fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
reportlab
openpyxl
email-validator
psycopg2-binary
slowapi
limits
requests
